name: ALKiln Tests

# Run tests automatically on push or pull request
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

jobs:
  test:
    runs-on: ubuntu-latest
    name: Run Interview Tests
    steps:
    - uses: actions/checkout@v4
    - name: Run ALKiln Tests
      uses: SuffolkLITLab/ALKiln@v5
      with:
        SERVER_URL: ${{ secrets.SERVER_URL }}
        DOCASSEMBLE_DEVELOPER_API_KEY: ${{ secrets.DOCASSEMBLE_DEVELOPER_API_KEY }}